form(method='POST' action='/new')
  input(type='text' name='user' placeholder='Your name goes here...')
  br
  br
  input(type='text' name='text' placeholder='Message goes here...')
  br
  br
  input(type='submit' value='Add message!')
